@model IEnumerable<eProject3.Models.EntranceExam>
@using eProject3.Common;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@{
    var user = Session["USER_SESSION"] as UserLogin;
}

<section class="engine"><a href="https://mobirise.info/r">free bootstrap templates</a></section>
<section class="header1 cid-rm0fKItS81" id="header1-n">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(99, 90, 81);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"><br>ENTRANCE EXAMS</h1>
            </div>
        </div>
    </div>
</section>

<section class="services5 cid-rm0gvakoQK" id="services5-p">
    <!---->
    <!---->
    <!--Overlay-->
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12 text-center">
                <h2 class="align-left mbr-fonts-style m-0 display-1 text-center">
                    Entrance Exam List
                </h2>

            </div>

            <div id="SetExamList" class="container-fluid">
                <!--Card-1-->
                <div class="card px-3 col-12" id="LoadingStatus">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section form3 cid-rm0hIYogHj" id="Result">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">
                    ENTRANCE EXAM RESULT
                </h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    Enter Student Roll to see result
                </h3>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <!---Formbuilder Form--->
                @*<form action="" class="mbr-form form-with-styler" data-form-title="Mobirise Form">*@
                <input type="hidden" name="email" data-form-email="true" value="Ak582VsMwOnCXrjdDbWu8V57ORj+yhhlR+X4wDcLp9g2hLSCPsZy59eMc9B9OqdYT9NaqVv73y09/qXi3dJH5sSN3WidBYDzT0/RBE8bUMriUxNjdz687vD10Lpzb7GH">
                <div class="row">
                    <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                    <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                    </div>
                </div>
                <div class="dragArea row">
                    <div class="form-group col" data-for="email">
                        @if (user != null)
                        {
                            <input placeholder="Student Roll" required="required" class="form-control display-7" id="SearchID">
                        }
                        else
                        {
                            <input disabled placeholder="You must log in to use this feature." required="required" class="form-control display-7" id="SearchID">
                        }
                    </div>
                    <div class="col-auto input-group-btn">
                        @if (user != null)
                        {
                            <button class="btn btn-primary display-4" id="SearchResult" onclick="ShowResultRecord()">SEARCH</button>
                        }
                        else
                        {
                            <button disabled class="btn btn-primary display-4" id="SearchResult" onclick="ShowResultRecord()">SEARCH</button>
                        }
                    </div>

                </div>
                @*</form>*@<!---Formbuilder Form--->
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="col-sm-12 modal-title text-center" align="center">
                        Student Result
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Student Roll</th>
                                    <th>Entrance Exam ID</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody id="SetResultList2">
                                <tr id="LoadingStatus2" style="color:red">
                                    <td id="StudentRoll"></td>
                                    <td id="ExamID"></td>
                                    <td id="Mark"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/EntranceExams/GetEntranceExamList", null, DataBind);
    function DataBind(ExamList) {
        //This Code For Receive All Data From Controller And Show It In Client Side
        var SetData = $("#SetExamList");
        for (var i = 0; i < ExamList.length; i++) {
            var Data = "<div class='card px-3 col-12'>" +
                "<div class='card-wrapper media-container-row media-container-row' >" +
                "<div class='card-box'>" +
                "<div class='top-line pb-3'>" +
                "<h4 class='card-title mbr-fonts-style display-5'>" +
                ExamList[i].EntranceExamName + "</h4>" +
                "<p class='mbr-text cost mbr-fonts-style m-0 display-5'>" +
                ExamList[i].EntranceExamStartDate + "</p>" +
                "</div >" +
                "<div class='bottom-line'>" +
                "<p class='mbr-text mbr-fonts-style m-0 b-descr display-7'>" +
                ExamList[i].EntranceExamDescription + "</p>" +
                "</div >" +
                "</div >" +
                "</div >" +
                "</div >";
            $("#LoadingStatus").remove();
            SetData.append(Data);
            $("#LoadingStatus").html(" ");
        }
    }

    function ShowResultRecord() {
        var StudentRoll = $("#SearchID").val();
        $("#searchModal").modal();
        $.ajax({
            type: "GET",
            url: "/EntranceExamResults/GetResultByID?StudentRoll=" + StudentRoll,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#StudentRoll").text(obj.StudentRoll);
                $("#ExamID").text(obj.EntranceExamID);
                $("#Mark").text(obj.Mark);
            }
        })
    }
</script>