@model IEnumerable<eProject3.Models.AboutUs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header1 cid-rm0kKG6k2a" id="header1-y">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(99, 90, 81);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"><br><br></h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2"></h3>
            </div>
        </div>
    </div>
</section>

<section class="features11 cid-rm0lpyqTEz" id="features11-z">


    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 50%;">
                    <!-- Company image -->
                    <img src="~/Assets/client/assets/images/background9.jpg" alt="Mobirise" title="">
                </div>
                <!-- Data input / config -->

                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        <!-- Header -->
                        About Us
                    </h2>
                    @foreach (var item in Model)
                    {
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">
                                <!-- Aintroduction field -->
                                @Html.DisplayFor(modelItem => item.Aintroduction)
                            </p>
                        </div>
                    }
                    <div class="block-content">
                        <!-- Data block  -->
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class=" align-self-center card-img pb-3">
                                    <span class="mbri-extension mbr-iconfont"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">
                                        Our service
                                    </h4>
                                </div>
                            </div>
                            @foreach (var item1 in Model)
                            {
                                <div class="card-box">
                                    <p class="block-text mbr-fonts-style display-7">
                                        <!-- Aservice field -->
                                        @Html.DisplayFor(modelItem => item1.Aservice)
                                    </p>
                                </div>
                            }
                        </div>
                        <!-- End Data block  -->
                    </div>
                </div>

                <!-- End Data input / config -->
            </div>
        </div>
    </div>
</section>
