@model IEnumerable<eProject3.Models.FAQ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header1 cid-rm0jStU5Hz" id="header1-t">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(99, 90, 81);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"><br>FAQs</h1>
            </div>
        </div>
    </div>
</section>

<section class="accordion1 cid-rm0konkcfr" id="accordion1-v">


    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="section-head text-center space30">
                    <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">
                        Frequently Asked Questions
                    </h2>
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_22" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <!-- Data + all id autoincrease -->
                    @foreach (var item in Model)
                    {
                        <div class="card">
                            <!-- Need to change id="" -->
                            <div class="card-header" role="tab" id="headingOne">
                                <!-- Need to change href / aria-controls -->
                                <a role="button" class="panel-title collapsed text-black" data-toggle="collapse" data-core="" href="#o_@item.Fid" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                        @Html.DisplayFor(modelItem => item.Fquestion)
                                    </h4>
                                </a>
                            </div>
                            <div id="o_@item.Fid" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_22">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        @Html.DisplayFor(modelItem => item.Fanswer)
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- End data -->
                </div>
            </div>
        </div>
    </div>
</section>