
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="features9 cid-rlVnk5ZzYz" id="features9-9">


    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-features mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">Softskills Training</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            We also provide softskill training aside technical training to fully prapare students for the practical work environment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-star mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            Technical English Training
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Technical English training is a must for all students, we make sure students will be able to use technical english fluently and smoothly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-desktop mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            Technology Training
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            The program is designed for those who do not know anything about IT can also learn from basic to advanced in programming.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="features3 cid-rlVek2gh5x" id="features3-6">


    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/background1.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Modern and updated program</h4>
                        <p class="mbr-text mbr-fonts-style display-7">"We don't keep up with technology. We stay ahead of it. "-Symphony does not follow technology. Symphony is always ahead of technology.&nbsp;</p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/background2.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Diverse training subjects</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Symphony 's training objects are diverse, regardless of age, gender, occupation, from students, students to employees in businesses and entrepreneurs.</p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/background3.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">Good learning conditions</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            During the learning process, students enjoy free services at the center such as computer room, Internet access, library books, literary activities, thematic talks...
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.co" class="btn btn-primary display-4">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="services1 cid-rlVornoLb0" id="services1-b">
    <!---->
    <!---->
    <!--Overlay-->
    <!--Container-->
    <div class="container">
        <div class="row justify-content-center">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left pb-3 mbr-fonts-style display-1">Our Courses</h2>

            </div>
            <!--Card-1-->
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/product1.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box pb-md-5">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Watch Star
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus
                            eligendi eum illo placeat quis repellendus sequi tempore!
                        </p>
                        <!--Btn-->
                        <div class="mbr-section-btn align-left">
                            <a href="https://mobirise.co" class="btn btn-warning-outline display-4">
                                $ 790
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/product1.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box pb-md-5">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Watch Special
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus
                            eligendi eum illo placeat quis repellendus sequi tempore!
                        </p>
                        <!--Btn-->
                        <div class="mbr-section-btn align-left">
                            <a href="https://mobirise.co" class="btn btn-warning-outline display-4">
                                $ 690
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/product1.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Watch Srong
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus
                            eligendi eum illo placeat quis repellendus sequi tempore!
                        </p>
                        <!--Btn-->
                        <div class="mbr-section-btn align-left">
                            <a href="https://mobirise.co" class="btn btn-warning-outline display-4">
                                $ 990
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            <div class="card col-12 col-md-6 col-lg-3 last-child">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/product1.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Watch Strict
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolores doloribus
                            eligendi eum illo placeat quis repellendus sequi tempore!
                        </p>
                        <!--Btn-->
                        <div class="mbr-section-btn align-left">
                            <a href="https://mobirise.co" class="btn btn-warning-outline display-4">
                                $ 790
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section info2 cid-rlVpirDFQe" id="info2-d">


    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">
                        <span class="mbri-preview mbr-iconfont"></span>
                        SEE MORE
                    </a>
                </div>
            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    GRADIENT BACKGROUND
                </h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white mbr-fonts-style display-5">
                    Info block with gradient. Text is aligned to right.
                </h3>
            </div>
        </div>
    </div>
</section>

