@model IEnumerable<eProject3.Models.ContactUs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header1 cid-rm0lBYVLqO" id="header1-13">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(99, 90, 81);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"><br>CONTACT US<br><br></h1>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section contacts1 cid-rm0me20Xst" id="contacts1-14">
    <!---->
    <!---->
    <!--Overlay-->
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    Our Contacts
                </h2>

            </div>
            <!--Left-->
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6">
                    <div class="left-block wrapper">
                        <div class="b b-adress">
                            <h5 class="align-left mbr-fonts-style m-0 display-5">
                                Address:
                            </h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                @Html.DisplayFor(modelItem => item.Caddress)
                            </p>
                        </div>
                        <div class="b b-mail">
                            <h5 class="align-left mbr-fonts-style m-0 display-5">
                                E-mail:
                            </h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                @Html.DisplayFor(modelItem => item.Cemail)
                            </p>
                        </div>
                    </div>
                </div>
                <!--Right-->
                <div class="col-12 col-md-6">
                    <div class="google-map"><iframe src="@item.Clocation" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
            }
        </div>
    </div>
</section>