@model IEnumerable<eProject3.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="features9 cid-rm0euduUcf" id="features9-i">


    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-features mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">Softskills Training</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            We also provide softskill training aside technical training to fully prapare students for the practical work environment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-star mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            Technical English Training
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Technical English training is a must for all students, we make sure students will be able to use technical english fluently and smoothly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-desktop mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            Technology Training
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            The program is designed for those who do not know anything about IT can also learn from basic to advanced in programming.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="services3 cid-rm0eF6Zj8L" id="services3-j">
    <!---->
    <!---->
    <!--Overlay-->
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    <p>
                        &nbsp; &nbsp; Course&nbsp;List
                    </p>
                </h2>

            </div>
            <!-- Show course data -->
            @foreach (var item in Model)
            {
                <div class="card px-3 col-12 col-md-6">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-1">
                                <h4 class="card-title mbr-fonts-style display-5">
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </h4>
                                <p class="mbr-text card-title cost mbr-fonts-style m-0 display-5">
                                    @Html.DisplayFor(modelItem => item.CourseDuration)
                                </p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style display-7">
                                    @Html.DisplayFor(modelItem => item.CourseStartDate)
                                </p>
                                <p class="mbr-text mbr-fonts-style display-7">
                                    @Html.DisplayFor(modelItem => item.CourseEndDate)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>