<div class="modal fade" id="logoutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col-sm-12 modal-title text-center" align="center">
                    User Logging out
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to log out?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" data-dismiss="modal">Cancel</a>
                @Html.ActionLink("Confirm", "Logout", "Login", "", new { @id = "logoutbtn", @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<!-- success message modal -->
<div id="alertModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col-sm-12 modal-title text-center" align="center">
                    Message
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert" id="alertMess">@TempData["Message"]</div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- error message modal -->
<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col-sm-12 modal-title text-center" align="center">
                    Message
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
            </div>
            <div class="modal-footer col-md-12">
                <div class="center-block">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Logout() {
        $("#logoutModal").modal();
    }

</script>

@if (TempData["Message"] != null)
{
    <script>
        //call bootstrap modal
        $(document).ready(function () {
            $("#alertModal").modal();
        });
    </script>
}

@if (TempData["Error"] != null)
{
    <script>
        //call bootstrap modal
        $(document).ready(function () {
            $("#errorModal").modal();
        });
    </script>
}
